.textContainer p {
  position: absolute;
  top: 0;

  animation: 0.4s ease-in 0s 1 slideFromTop;
  animation-fill-mode: both;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.textContainer p:nth-child(1) {
  position: relative;
}

.textContainer p:nth-child(2) {
  clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
  animation-delay: 0s;
}

.textContainer p:nth-child(3) {
  clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
  animation-delay: 0.1s;
}

.textContainer p:nth-child(4) {
  clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
  animation-delay: 0.2s;
}

.textContainer p:nth-child(5) {
  clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
  animation-delay: 0.3s;
}

.textContainer p:nth-child(6) {
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
  animation-delay: 0.4s;
}

.loadingBg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 20%,
    rgba(38, 227, 25, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: 1s linear 0s infinite moveLeftToRight;
}

@keyframes moveLeftToRight {
  0% {
    transform: translatex(-20%);
  }
  100% {
    transform: translateX(100%);
  }
}
